@{
    ViewBag.Title = "Index";
    ViewBag.InitModule = "homeIndex";
}

<h2>
    Angular
</h2>
This page uses angularJS and Web-APi. the api results can be seen at 
/api/#Controllers.
you can also view the result from <a href="~/api/Catalogs"> for example</a>
It uses both the Catalogs and the products.
 I stopped with the update as I just wanted to show proof of concept.

@section Scripts
{

    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
  
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="~/js/home-index.js"></script>

}




<div ng-view=""></div>
